<div class="main-content">

    <label class="pure-material-switch">
        <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheckboxChange()" >
        <span class="style-text2"> {{'Go To Trash' | translate}}</span>
      </label>
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
        <div class="d-flex gap-2">
            <button class="btn btn-add btn-outline-success btn-sm btn-action style-button rounded-pill" (click)="onClickAdd()"
                [title]="'btns.add' | translate">
                <i class="fa fa-plus style-icons"></i>
                <span class="style-title"> {{'menu.add-currency'|translate}}</span>
            </button>
        </div>


        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input #search (input)="onFilterChange(search.value)" type="text" class="form-control bg-white"
                placeholder="{{'Search by name'|translate}}">
        </div>
    </div>

    <div class="datatable">

        <ng-container *ngIf="loading">
            <app-spinner></app-spinner>
        </ng-container>

        <ng-container *ngIf="!loading && currencyPage.empty">
            <app-no-data></app-no-data>
        </ng-container>

        <table class="table" *ngIf="!loading && !currencyPage.empty">
            <thead class="datatable-header">
                <tr>
                    <th>
                        <strong  class="style-text">
                            {{'currencyCode' | translate}}
                            <a href="javascript:void(0);">
                                <svg (click)="sortByCode()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                                </svg>
                            </a>
                        </strong>
                    </th>
                    <th>
                        <strong  class="style-text">
                            {{'currencyName' | translate}}
                            <a href="javascript:void(0);">
                                <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                                </svg>
                            </a>
                        </strong>
                    </th>
                    <th>
                        <strong  class="style-text">
                            {{'countryName' | translate}}
                            <a href="javascript:void(0);">
                                <svg (click)="sortBycountry()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                                </svg>
                            </a>
                        </strong>
                    </th>
                    <th>
                        <strong  class="style-text">
                            {{'Digitalcode' | translate}}
                            <a href="javascript:void(0);">
                                <svg (click)="sortBydigital()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                                </svg>
                            </a>
                        </strong>
                    </th>

                </tr>
            </thead>
            <tbody class="text-sm" *ngIf="affiche==false">
                <tr class="row-data" *ngFor="let currency of currencys">
                    <td>
                        {{currency.code}}
                    </td>
                    <td>
                        {{currency.name}}
                    </td>
                    <td>
                        {{currency.countryname}}
                    </td>
                    <td>
                        {{currency.digitalcode}}
                    </td>

                    <td class="d-flex gap-4">
                        <button class="text-primary datatable-action-btn" (click)="onClickEdit(currency.id!)"
                            [title]="'btns.edit' | translate">
                            <i class="fa fa-pencil custom-color"></i>
                        </button>
                        <button class="text-danger datatable-action-btn" (click)="onClickArchive(currency.id!)"
                            [title]="'btns.delete' | translate">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody class="text-sm"  *ngIf="affiche==true">
                <tr class="row-data" *ngFor="let currency of currencyss">
                    <td>
                        {{currency.code}}
                    </td>
                    <td>
                        {{currency.name}}
                    </td>
                    <td>
                        {{currency.countryname}}
                    </td>
                    <td>
                        {{currency.digitalcode}}
                    </td>

                    <td class="d-flex gap-4">
                        
                        <button class="text-primary datatable-action-btn" (click)="onClickdisArchive(currency.id!)"
                        [title]="'Restore line' | translate">
                        <i class="fa fa-reply-all"></i>
                    </button>
                    <button class="text-danger datatable-action-btn" (click)="onClickDelete(currency.id!)"
                        [title]="'Delete permanently' | translate">
                        <i class="fa fa-trash"></i>
                    </button>
                  
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [page]="currencyPage"
        (onPageNumberChange)="onPageNumberChange($event)" (onPageSizeChange)="onPageSizeChange($event)">
    </app-pagination>

    <app-dialog #formModal>
        <app-currency-form [currency]="currency">
        </app-currency-form>
    </app-dialog>

    <app-confirm-dialog #archiveModal></app-confirm-dialog>

</div>