<div class="row">
  <div class="form-group col-md-6">
    <label for="address1">{{'address' | translate}} 1</label>
    <input class="form-control" name="address1" #address1="ngModel" ngModel [(ngModel)]="farm.address1">
  </div>

  <div class="form-group col-md-6">
    <label for="address2">{{'address' | translate}} 2</label>
    <input class="form-control" name="address2" #address2="ngModel" ngModel [(ngModel)]="farm.address2">
  </div>

  <div class="form-group col-md-6">
    <label for="cityCode">{{'codeCity' | translate}}</label>
    <input class="form-control" name="cityCode" #cityCode="ngModel" ngModel [(ngModel)]="farm.city_Code">
  </div>

  <div class="form-group col-md-6">
    <label for="cityName">{{'nameCity' | translate}}</label>
    <input class="form-control" name="cityName" #cityName="ngModel" ngModel [(ngModel)]="farm.city_Name">
  </div>

  <div class="form-group col-md-6">
    <label for="governorateCode">{{'governorateCode' | translate}}</label>
    <input class="form-control" name="governorateCode" #governorateCode="ngModel" ngModel [(ngModel)]="farm.governorateCode">
  </div>

  <div class="form-group col-md-6">
    <label for="governorateName">{{'governorateName' | translate}}</label>
    <input class="form-control" name="governorateName" #governorateName="ngModel" ngModel [(ngModel)]="farm.governorateName">
  </div>

  <div class="form-group col-md-6">
    <label for="zipCode">{{'zipCode' | translate}}</label>
    <input class="form-control" name="zipCode" #zipCode="ngModel" ngModel [(ngModel)]="farm.zip_Code">
  </div>

  <div class="form-group col-md-6">
    <label for="email">{{'email' | translate}}</label>
    <input type="email" class="form-control" name="email" #email="ngModel" ngModel [(ngModel)]="farm.email">
  </div>

  <div class="form-group col-md-6">
    <label for="phoneNumber">{{'phone' | translate}}</label>
    <input class="form-control" name="phoneNumber" #phoneNumber="ngModel" ngModel [(ngModel)]="farm.phoneNumber">
  </div>

  <div class="form-group col-md-6">
    <label for="faxNumber">{{'faxNumber' | translate}}</label>
    <input class="form-control" name="faxNumber" #faxNumber="ngModel" ngModel [(ngModel)]="farm.faxNumber">
  </div>

  <div class="form-group col-md-6">
    <label for="latitude">{{'latitude' | translate}}</label>
    <input type="number" class="form-control" name="latitude" #latitude="ngModel" ngModel
      [(ngModel)]="farm.latitude">
  </div>

  <div class="form-group col-md-6">
    <label class="clickable" for="longitude">{{'longitude' | translate}}</label>
    <input type="number" class="form-control" name="longitude" #longitude="ngModel" ngModel
      [(ngModel)]="farm.longitude">
  </div>

</div>
