<div class="main-content">
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">

        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input #search (input)="onFilterChange(search.value)" type="text" class="form-control bg-white"
                placeholder="{{'Search'|translate}}" >
        </div>
        <div class="text-end"> 
            <a (click)="goto()"><button class="btn btn-success pull-right"> {{'Back to list'|translate}}</button></a>
        </div>
    </div>

    <div class="datatable">

        <ng-container *ngIf="loading">
            <app-spinner></app-spinner>
        </ng-container>

        <ng-container *ngIf="!loading && Page.empty">

            <app-no-data></app-no-data>
        </ng-container>


        <table aria-label=""class="table" *ngIf="!loading && !Page.empty">
            <thead class="datatable-header">
                <tr>
                    <th  scope="">
                        <strong>
                            {{'code' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'name' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'costCenter' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'division' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'primary' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'city' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'email' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'phone' | translate}}
                        </strong>
                    </th>
                    <th  scope="">
                        <strong>
                            {{'actions' | translate}}
                        </strong>
                    </th>
                </tr>
            </thead>
            <tbody class="text-sm">
                <tr class="row-data" *ngFor="let warehouse of warehouses">
                    <td>
                        {{warehouse.code}}
                    </td>
                    <td>
                        {{warehouse.name}}
                    </td>
                    <td>
                        {{warehouse.costCenterName}}
                    </td>
                    <td>
                        {{warehouse.divisionName}}
                    </td>
                    <td>
                        {{ (warehouse.isPrimary ? 'message.yes' : 'message.no') | translate }}
                    </td>
                    <td>
                        {{warehouse.cityName}}
                    </td>
                    <td>
                        {{warehouse.email}}
                    </td>
                    <td>
                        {{warehouse.phoneNumber}}
                    </td>
                    <td class="d-flex gap-4">
                       


                        <button class="text-primary datatable-action-btn" (click)="onClickdisArchive(warehouse.id!)"
                        [title]="'Restore line' | translate">
                        <i class="fa fa-reply-all"></i>
                    </button>
                    <button class="text-danger datatable-action-btn" (click)="onClickDelete(warehouse.id!)"
                        [title]="'Delete permanently' | translate">
                        <i class="fa fa-trash"></i>
                    </button>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-confirm-dialog #deleteModal></app-confirm-dialog>

</div>