<div class="row" [formGroup]="addform">
  <div class="form-group col-md-6">
    <label class="required" for="code">{{ "divisionCode" | translate }}</label>
    <input
      (keyup)="
        isBlurDCisvalid(); exist(); blur1(); validationCode(); geValues($event)
      "
      class="form-control"
      name="code"
      [(ngModel)]="division.code"
      formControlName="code"
      required
      placeholder="{{ 'Write your division code' | translate }} "
      aria-invalid="true"
      aria-describedby="code-error"
    />
    <div style="color: red" *ngIf="DCisvalid">
      {{ "Code must be not null" | translate }}
    </div>
    <div style="color: red" *ngIf="dispotrueCode">
      {{ "Code must be unique" | translate }}
    </div>
    <div style="color: red" *ngIf="codeIsvalid">
      {{ "Invalid code format" | translate }}
    </div>
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="name">{{ "divisionName" | translate }}</label>
    <input
      (keyup)="isBlurDNisvalid(); existname(); geValues($event)"
      class="form-control"
      name="name"
      formControlName="name"
      placeholder="{{ 'Write your Division name' | translate }}"
      [(ngModel)]="division.name"
      required
      aria-invalid="true"
      aria-describedby="name-error"
    />
    <div style="color: red" *ngIf="DNisvalid">
      {{ "Name must be not null" | translate }}
    </div>
    <div style="color: red" *ngIf="dispotruename">
      {{ "name must be unique" | translate }}
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="wilayaCode">{{ "divisiontype" | translate }}</label>
    <select
      class="form-control"
      (change)="setList(); geValues($event)"
      name="divisiontype"
      formControlName="divisiontype"
      required
      [(ngModel)]="division.divisiontype"
    >
      <option value="" disabled selected>
        {{ "Select your option" | translate }}
      </option>
      <option value="Agriculture">
        {{ "Agriculture" | translate }}
      </option>
      <option value="Aviculture">
        {{ "Aviculture" | translate }}
      </option>
      <option value="Bovin">
        {{ "Bovin" | translate }}
      </option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label class="required" for="speciesType"
      >{{ "Species Type" | translate }}
    </label>
    <select
      class="form-control"
      (click)="geValues($event)"
      name="speciesType"
      formControlName="speciesType"
      (ngModelChange)="geValues($event)"
      required
      [(ngModel)]="division.speciesType"
    >
      <option value="" disabled selected>
        {{ "Select your option" | translate }}
      </option>
      <option *ngFor="let c of listA" [value]="c">{{ c | translate }}</option>
      <!-- <option  value="Chicken">
            {{'Chicken'|translate}}
          </option>
          <option  value="Layer">
            {{'Layer'|translate}}

      </option>
      <option value="Turkey">
        {{'Turkey'|translate}}

      </option>
      <option value="Duck">
        {{'Duck'|translate}}

          </option> -->
    </select>
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="currencyCode">{{
      "currencyCode" | translate
    }}</label>
    <select
      (blur)="isBlur4(); selectValue($event)"
      (ngModelChange)="geValues($event)"
      (click)="selectValue($event)"
      type="number"
      class="form-control"
      name="currencycode"
      formControlName="currencycode"
      [(ngModel)]="division.currencycode"
    >
      <option *ngFor="let dv of cuurencys" [value]="dv.code">
        {{ dv.code }}
      </option>
    </select>
    <div style="color: red" *ngIf="currecnyinv">
      {{ "you must chose" | translate }}
    </div>
  </div>
  <div class="form-group col-md-6">
    <label class="required" for="currencyname">{{
      "currencyName" | translate
    }}</label>
    <input
      class="form-control"
      name="currencyname"
      formControlName="currencyname"
      [(ngModel)]="division.currencyname"
      (ngModelChange)="geValues($event)"
      required
      aria-invalid="true"
      aria-describedby="code-error"
      readonly
    />
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="measurement"
      >{{ "Measurement" | translate }}
    </label>
    <input
      (blur)="geValues($event); isBlurMSisvalid()"
      (ngModelChange)="geValues($event)"
      class="form-control"
      name="measurement"
      formControlName="measurement"
      placeholder=" {{ 'Write your measurement' | translate }}"
      [(ngModel)]="division.measurement"
      required
      aria-invalid="true"
      aria-describedby="measurement-error"
    />
    <div style="color: red" *ngIf="MSisvalid">
      {{ "Measurement must be not null" | translate }}
    </div>
  </div>
</div>
