<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon" color="white">
                    <i class="material-icons">public</i>
                </div>
                <p class="card-title" style="font-weight: bold;">{{titleCard1}}</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <h4 style="color: black;">{{averageArea}}</h4>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">precision_manufacturing</i>
                </div>
                <p class="card-title" style="font-weight: bold;">{{titleCard2}}</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <h4 style="color: black;">{{averageProduction}}
                    </h4>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">price_change</i>
                </div>
                <p class="card-title" style="font-weight: bold;">{{titleCard3}}</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <h4 style="color: black;">{{averageExportationPrice}}
                    </h4>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">trolley</i>
                </div>
                <p class="card-title" style="font-weight: bold;">{{titleCard4}}</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <h4 style="color: black;">{{averageQuantity}}
                    </h4>

                </div>
            </div>
        </div>
    </div>
</div>