<div class="row">
   
 
     
    <div class="form-group col-md-6">
      <label class="clickable" for="projectwarehouse">{{'projectwarehouse' | translate}}</label>
      <input type="text" class="form-control" name="projectwarehouse" #projectwarehouse="ngModel" ngModel
        [(ngModel)]="farm.projectwarehouse">
    </div>
    <div class="form-group col-md-6">
      <label for="projectligistic">{{'projectligistic'| translate}}</label>
      <input type="text" class="form-control" name="projectligistic" #projectligistic="ngModel" ngModel
        [(ngModel)]="farm.projectligistic">
    </div>
  
  </div>