<div class="row" [formGroup]="addform">

    <div class="form-group col-md-6">
        <label class="required" for="code">{{'sailorCode' | translate}}</label>
        <input (blur)="existcode();isBlurDCisvalid();validationCode()" class="form-control" name="code" [(ngModel)]="sales.code" 
            formControlName="code" required placeholder="{{'write your sales code'|translate}} " aria-invalid="true"
            aria-describedby="code-error" (ngModelChange)="geValues($event)">
            <div  style="color: red;" *ngIf="codeIsvalid">{{ "Invalid code format" }}</div>
        <div style="color: red;" *ngIf="DCisvalid">{{'code must be not null'|translate}}</div>
        <div style="color: red;" *ngIf="existcodeIsvalid" >{{'Code must be unique'|translate}}</div>

    </div>
 
    <div class="form-group col-md-6">
        <label class="required" for="name">{{'sailorname' | translate}}</label>
        <input (blur)="existname();isBlurDNisvalid()" class="form-control" name="name" formControlName="name" 
        placeholder="{{'Write your sailor name'|translate}}" [formControl]="fieldControl"
            [(ngModel)]="sales.name" required aria-invalid="true" aria-describedby="name-error"
            (ngModelChange)="geValues($event)">
        <div style="color: red;" *ngIf="DNisvalid">{{'name must be not null'|translate}}</div>
        <!-- <div style=" color : red;" *ngIf="fieldControl.errors.pattern">{{"Format is invalid"|translate}}</div> -->
       
        <div style="color: red;" *ngIf="dispotruename" >{{'name must be unique'|translate}}</div>
        <div style="color: black;" *ngIf="dispotruename" >{{newSeggestions}}</div>
    </div> 

    <div class="form-group col-md-6">
        <label for="type">{{'Salestype' | translate}}</label>
        <select class="form-control" name="type" formControlName="type" ngModel [(ngModel)]="sales.type"
             required aria-invalid="true"
            (change)="geValues($event)">
            <option value="INTERN">INTERN</option>
            <option value="EXTERN">EXTERN</option> 
        </select>
    </div>

    <div class="form-group col-md-6">
        <label for="measurement">{{'PayementTerm' | translate}}    </label>
        <input (blur)="geValues($event)" class="form-control" name="Payment_Term" formControlName="Payment_Term" placeholder=" {{'Write your payement term'|translate}}"
            [(ngModel)]="sales.payment_Term" required aria-invalid="true" aria-describedby="Payment_Term-error"
            >
           
        

    </div>



</div>