<div class="main-content">
    <!-- <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
        <div class="d-flex gap-2">
            <button class="btn btn-add btn-outline-success btn-sm btn-action" (click)="onClickAdd()"
                [title]="'btns.add'">
                <i class="fa fa-plus"></i>
            </button>
        </div>

        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input #search (input)="onFilterChange(search.value)" type="text" class="form-control bg-white"
                placeholder="Search" />
        </div>
    </div> -->




    <app-no-data></app-no-data>

</div>