<ng-content></ng-content>

<form class="form-card">

    <div *ngIf="currentStep == 0">
        <app-seaport-form-general [seaport]="seaport"></app-seaport-form-general>
    </div>

    <div *ngIf="currentStep == 1">
        <app-seaport-information [seaport]="seaport"></app-seaport-information>
    </div>
    <!-- 
  <div *ngIf="currentStep == 2">
    <app-fournisseurs-form-shipping [airport]="airport"></app-fournisseurs-form-shipping>
  </div>

  <div *ngIf="currentStep == 3">
    <app-fournisseurs-form-vendor-sku [airport]="airport"></app-fournisseurs-form-vendor-sku>
  </div> -->

</form>