<!-- <div class="row">
  <div class="form-group col-md-6">
    <label for="address">{{ "address" | translate }}</label>
    <input class="form-control" name="address" #address="ngModel" ngModel [(ngModel)]="growout.address" 
    placeholder="{{'Write your Address'|translate}} "/>
  </div>
  <div class="form-group col-md-6">
    <label for="wilayaName">{{ "countryCode" | translate }}</label>
    <input class="form-control" name="countryCode" #wilayaName="ngModel" ngModel [(ngModel)]="growout.countryCode" 
    placeholder="{{'Write your wilaya name'|translate}} " />
  </div>
  <div class="form-group col-md-6">
    <label for="countryName">{{ "countryName" | translate }}</label>
    <input class="form-control" name="countryName" #countryName="ngModel" ngModel [(ngModel)]="growout.countryName"
    placeholder="{{'Write your code wilaya'|translate}} " >
  </div>

  
  <div class="form-group col-md-6">
    <label for="wilayaCode">{{ "wilayaCode" | translate }}</label >
    <input (blur)="isBlur()" class="form-control" name="wilayaCode" #wilayaCode="ngModel" ngModel [(ngModel)]="growout.wilayaCode"
    placeholder="{{'Write your code wilaya'|translate}} " >
    <div style="border: 1px solid red; color : red;" *ngIf="minIwillayacode">{{'wilaya code  must be between 1 and 3 charactere'|translate}}</div>

  </div>

  <div class="form-group col-md-6">
    <label for="wilayaName">{{ "wilayaName" | translate }}</label>
    <input (blur)="isBlur2()" class="form-control" name="wilayaName" #wilayaName="ngModel" ngModel [(ngModel)]="growout.wilayaName" 
    placeholder="{{'Write your wilaya name'|translate}} " />
    <div style="border: 1px solid red; color : red;" *ngIf="minIwillaya">{{'wilaya Name  must be between 1 and 100 charactere'|translate}}</div>

  </div>


  <div class="form-group col-md-6">
    <label for="wilayaName">{{ "zipCode" | translate }}</label>
    <input class="form-control" name="zipCode" #zipCode="ngModel" ngModel [(ngModel)]="growout.zipCode"
    placeholder="{{'Write your zip code'|translate}} " />
  </div>

  <div class="form-group col-md-6">
    <label for="phone">{{ "phoneNumber" | translate }}</label>
    <input class="form-control" name="phone" #phone="ngModel" ngModel [(ngModel)]="growout.phoneNumber"
    placeholder="{{'Write your phone'|translate}} ">
  </div>

  <div class="form-group col-md-6">
    <label for="email">{{ "faxNumber" | translate }}</label>
    <input  class="form-control" name="faxNumber" #faxNumber="ngModel" ngModel [(ngModel)]="growout.faxNumber" 
    placeholder="{{'Write your fax Number'|translate}} ">
  </div>
  <div class="form-group col-md-6">
    <label for="email">{{ "emailcontact" | translate }}</label>
    <input class="form-control" name="email" #email="ngModel" ngModel [(ngModel)]="growout.email" 
     placeholder="{{'Write your email'|translate}} " />
  </div>
</div>



<div class="form-group" *ngIf="currentStep === 2">
  <div class="form-group col-md-6">
    <label class="required" for="phone">{{ "phone" | translate }}</label>
    <input class="form-control" name="phone" #phone="ngModel" [(ngModel)]="growout.phone" required />
    <div
      *ngIf="myForm.controls['phone'].invalid && (myForm.controls['phone'].dirty || myForm.controls['phone'].touched)">
      <div *ngIf=" myForm.controls[ 'phone' ].errors.required">le champ phone est obligatoire</div>
    </div>
  </div>
  <div class=" form-group col-md-6 ">
    <label class=" required " for=" email ">{{ " email " | translate }}</label>
    <input class=" form-control " name=" email " #email=" ngModel " [(ngModel)]=" growout.email " required />
    <div
      *ngIf=" myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls[ 'email' ].touched)">
      <div *ngIf=" myForm.controls[ 'email' ].errors.required ">le champ email est obligatoire</div>
    </div>
  </div>
</div> --> 

<!-- <div class="row">
    <div class="form-group col-md-6">
      <label for="address">{{'Address' | translate}} </label>
      <input class="form-control" name="address" #address="ngModel" ngModel [(ngModel)]="division.address" 
      placeholder="{{'Write your Address'|translate}} " >
    </div>
  
  
    <div class="form-group col-md-6">
      <label for="cityCode">{{'codeCity' | translate}}</label>
      <input class="form-control" name="cityCode" #cityCode="ngModel" ngModel  [(ngModel)]="division.codeCity"
      placeholder="{{'Write your city code'|translate}} ">
    </div>
  
    <div class="form-group col-md-6">
      <label for="cityName">{{'nameCity' | translate}}</label>
      <input class="form-control" name="cityName" #cityName="ngModel" ngModel  [(ngModel)]="division.nameCity"
      placeholder="{{'Write your city name'|translate}} ">
    </div>


    <div class="form-group col-md-6">
        <label for="wilayaCode">{{'wilayaCode' | translate}}</label>
        <input class="form-control" name="wilayaCode" #wilayaCode="ngModel" ngModel [(ngModel)]="division.wilayaCode" 
        placeholder="{{'Write your wilaya code'|translate}} ">
      </div>
  
      <div class="form-group col-md-6">
        <label for="wilayaName">{{'wilayaName' | translate}}</label>
        <input class="form-control" name="wilayaName" #wilayaName="ngModel" ngModel [(ngModel)]="division.wilayaName" 
        placeholder="{{'Write your wilaya name'|translate}} ">
      </div>
  
  
  
    <div class="form-group col-md-6">
      <label for="zipCode">{{'zipCode' | translate}}</label>
      <input class="form-control" name="zipCode" #zipCode="ngModel" ngModel  [(ngModel)]="division.zipCode" 
      placeholder="{{'Write your zip code'|translate}} "> 
    </div>
  
    <div class="form-group col-md-6">
      <label for="phone">{{'phoneNumber' | translate}}</label>
      <input type="phone" class="form-control" name="phone" #email="ngModel" ngModel [(ngModel)]="division.phone"
      placeholder="{{'Write your phone'|translate}} ">
    </div>
    <div class="form-group col-md-6">
      <label for="email">{{ "emailcontact" | translate }}</label>
      <input class="form-control" name="email" #email="ngModel" ngModel [(ngModel)]="division.email" 
       placeholder="{{'Write your email'|translate}} " />
    </div>
   
    
  
  
  
  </div>
   -->
   


   <div class="row">
    <div class="form-group col-md-6">
      <label for="address">{{ "Address" | translate }}</label>
      <input class="form-control" name="address" #address="ngModel" ngModel [(ngModel)]="growout.address"
        placeholder="{{'Write your Address'|translate}} "/>
    </div>
    <div class="form-group col-md-6">
      <label for="email">{{ "emailcontact" | translate }}</label>
      <input class="form-control" name="email" #email="ngModel" ngModel [(ngModel)]="growout.email" 
      placeholder="{{ 'Write your email' | translate }}" (blur)="validationEmail()" />
      <div  style="color: red;" *ngIf="emailIsvalid">{{ "Invalid email format" }}</div>
    </div>
  
    
    <div class="form-group col-md-6">
      <label for="cityCode">{{'codeCity' | translate}}</label>
      <input class="form-control" name="cityCode" #cityCode="ngModel" ngModel  [(ngModel)]="growout.codeCity"
      placeholder="{{'Write your city code'|translate}} ">
    </div>
  
    <div class="form-group col-md-6">
      <label for="cityName">{{'nameCity' | translate}}</label>
      <input class="form-control" name="cityName" #cityName="ngModel" ngModel  [(ngModel)]="growout.nameCity"
      placeholder="{{'Write your city name'|translate}} ">
    </div>
  
    <div class="form-group col-md-6">
      <label for="wilayaCode">{{ "wilayaCode" | translate }}</label>
      <select (click)="selectValue($event)"  type="number" class="form-control" name="wilayaCode" #wilayaCode="ngModel"  [(ngModel)]="growout.wilayaCode">
        <option *ngFor="let dv of wilayas" [value]="dv.code" > {{dv.code}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="wilayaName">{{ "wilayaName" | translate }}</label>
      <input  class="form-control" name="wilayaName" #wilayaName="ngModel" ngModel [(ngModel)]="growout.wilayaName" 
       placeholder="{{'Write your wilaya name'|translate}} " />
       <!-- <div style="border: 1px solid red; color : red;" *ngIf="minIwillaya">{{'wilaya Name  must be between 1 and 100 charactere'|translate}}</div> -->
  
    </div>
    
  
    <div class="form-group col-md-6">
      <label for="zipCode">{{'zipCode' | translate}}</label>
      <input class="form-control" name="zipCode" #zipCode="ngModel" ngModel  [(ngModel)]="growout.zipCode" 
      placeholder="{{'Write your zip code'|translate}} "> 
    </div>
    
  
  
    <div class="form-group col-md-6">
      <label for="phone">{{'phoneNumber' | translate}}</label>
      <input type="phone" class="form-control" name="phone" #email="ngModel" ngModel [(ngModel)]="growout.phoneNumber"  (blur)="isBlur3()"   
      placeholder="{{'Write your phone'|translate}} ">
      <div style="border: 1px solid red; color : red;" *ngIf="minIphone">{{'phone number  must be have 12 charactere'|translate}}</div>
    </div>
  
  
  </div>