<!-- <div *ngIf="content" class="modal" tabindex="-1" role="dialog" style="display:block!important">
  <div (click)="onClickOutside($event)" class="overlay"></div>
  <div class="modal-dialog custom-modal" role="document">
    <div class="modal-content">

      <div class="modal-title">
        <h5 class="text-secondary">
          {{content.title | translate}}
        </h5>
        <div class="d-flex justify-content-end px-2 pb-2">
          <i [title]="'btns.close' | translate" (click)="content.cancel()" class="material-icons close-modal-icon">
            close
          </i>
        </div>
      </div>

      <div class="modal-body">

        <ng-container *ngIf="wizardStep === 1">
          <div class="card-body">

            <app-company-from-general></app-company-from-general>
            etape 1
          </div>
          <div class="card-footer py-3 col" id="caf">
            <button type="submit" class="btn mr-10" id="button-cancel" (click)="cancel()">
              {{'btns.cancel' | translate}}
            </button>
            <button type="submit" class="btn btn-primary mr-2" (click)="goTo(2)">
              next
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="wizardStep === 2">
          <div class="pb-5 w-100" data-wizard-type="step-content" data-wizard-state="current">
            <div class="card-body">


              etape 2
            </div>
            <div class="card-footer py-3 col" id="caf">
              <button type="submit" class="btn mr-10" id="button-cancel" (click)="cancel()">
                {{'btns.cancel' | translate}}
              </button>
              <button type="submit" class="btn btn-primary mr-2" (click)="goTo(2)">
                next
              </button>
            </div>
          </div>
        </ng-container> -->

<!-- <div class="row">
          <div class="col-md-12 p-3">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-between modal-footer">
        <button (click)="content.cancel()" class="btn btn-outline-secondary">
          {{'btns.cancel' | translate}}
        </button>


        <div class="d-flex align-items-center gap-4">
          <button *ngIf="!isfirstStep()" (click)="content.prev()" class="btn btn-outline-secondary">
            {{'btns.previous' | translate}}
          </button>
          <button (click)="content.confirm()" class="btn btn-primary" [disabled]="addform.invalid">
            {{actionBtnLabel() | translate}} 
          </button>
        </div>
      </div> -->

<!-- </div>
    </div>
  </div> -->


<div *ngIf="content" class="modal" tabindex="-1" role="dialog" style="display:block!important">
  <div (click)="onClickOutside($event)" class="overlay"></div>
  <div class="modal-dialog custom-modal" role="document">
    <div class="modal-content">

      <div class="modal-title">
        <h5 class="text-secondary">
          {{content.title | translate}}
        </h5>
        <div class="d-flex justify-content-end px-2 pb-2">
          <i [title]="'btns.close' | translate" (click)="content.cancel()" class="zmdi zmdi-close close-modal-icon"></i>
        </div>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-12 p-3">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end modal-footer">
        <div class="d-flex align-items-center gap-4">
          <button (click)="content.cancel()" class="btn btn-outline-secondary">
            {{'btns.cancel' | translate}}
          </button>
          <button *ngIf="!isfirstStep()" (click)="content.prev()" class="btn btn-outline-secondary">
            {{'btns.previous' | translate}}
          </button>
          <button [disabled]="!isNext" (click)="content.confirm()" class="btn btn-primary">
            {{actionBtnLabel() | translate}}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>