<div class="row">
    <div class="form-group col-md-6">
      <label for="phonefix">{{'productssss' | translate}}</label>
      <select  class="form-control"name="product" #product="ngModel" ngModel [(ngModel)]="farm.product">
        <option *ngFor="let dv of produits" [value]="dv.code" > {{dv.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="faxNumber">{{'land' | translate}}</label>
      <input class="form-control" name="land" type="number" #land="ngModel" ngModel [(ngModel)]="farm.land">
    </div>
  </div>
  