<div class="main-content">
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
        <div class="d-flex gap-2">
            <button class="btn btn-add btn-outline-success btn-sm btn-action" (click)="onClickAdd()"
                [title]="'btns.add' | translate">
                <i class="fa fa-plus"></i>
            </button>
        </div>

        <a routerLink="/trash"><button class="btn btn-success pull-right"> Go To Trash</button></a>

        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input #search (input)="onFilterChange(search.value)" type="text" class="form-control bg-white"
                placeholder="Search">
        </div>
    </div>

    <div class="datatable">

        <ng-container *ngIf="loading">
            <app-spinner></app-spinner>
        </ng-container>

        <ng-container *ngIf="!loading && farmsPage.empty">
            <app-no-data></app-no-data>
        </ng-container>

        <table class="table" *ngIf="!loading && !farmsPage.empty">
            <thead class="datatable-header">
                <tr>
                    <th>
                        <strong>
                            {{'code' | translate}}
                        </strong>
                    </th>
                    <th>
                        <strong>
                            {{'name' | translate}}
                        </strong>
                    </th>
                    <th>
                        <strong>
                            {{'type' | translate}}
                        </strong>
                    </th>
                    <th>
                        <strong>
                            {{'owner' | translate}}
                        </strong>
                    </th>
                    <th>
                        <strong>
                            {{'actions' | translate}}
                        </strong>
                    </th>
                </tr>
            </thead>
            <tbody class="text-sm">
                <tr class="row-data" *ngFor="let farm of farms">
                    <td>
                        {{farm.code}}
                    </td>
                    <td>
                        {{farm.nom}}
                    </td>
                    <td>
                        {{farm.type}}
                    </td>
                    <td>
                        {{farm.owner_Name}}
                    </td>

                    <td class="d-flex gap-4">
                        <button class="text-primary datatable-action-btn" (click)="onClickEdit(farm.id!)"
                            [title]="'btns.edit' | translate">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="text-danger datatable-action-btn" (click)="onClickArchive(div.id!)"
                            [title]="'btns.delete' | translate">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [page]="farmsPage"
        (onPageNumberChange)="onPageNumberChange($event)" (onPageSizeChange)="onPageSizeChange($event)">
    </app-pagination>

    <app-wizard-dialog [currentStep]="currentStep" [entity]="farm" [type]="'farm'" [field]="null" #formModal>
        <app-farms-form [currentStep]="currentStep" [farm]="farm">
            <app-stepper #stepper [currentStep]="currentStep" [steps]="steps"
                (onStepChange)="onStepChange($event)"></app-stepper>
        </app-farms-form>
    </app-wizard-dialog>

    <app-confirm-dialog #deleteModal></app-confirm-dialog>
</div>