@media screen and (min-width: 1280px){
    .custom-modal {
        max-width: 1240px!important;
    }
}
.step-number[_ngcontent-ddx-c444] {
    padding: 0px 0.35rem !important;
    border: 1px solid lightgray !important;
    border-radius: 50% !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}