<div class="row" [formGroup]="addform">
    <p style="display: none;" > {{getstatus() }} </p>
    <p> {{deliveryReplica | json}} </p>
    <div class="form-group col-md-6">
        <label class="required" for="code">{{ "typeproduct" | translate }}</label>

        <select class="form-control" (change)="getValue($event);select();setList()" name="productType"
            [(ngModel)]="delivery.productType"  required
            [disabled]="delivery.productType === 'Other'">

            <option   disabled selected>
            </option>
            <option value="Animal">
                {{'Animal'|translate}}
            </option>
            <option value="Ingredients">
                {{'Ingredients'|translate}}

            </option>
            <option value="Eggs">
                {{'Eggs'|translate}}

            </option>
            <option value="Vaccines">
                {{'Vaccines'|translate}}

            </option>
            <option  [selected]="afficheother" value="">
                {{'Other'|translate}}

            </option>

        </select>

        <div *ngIf="afficheother==true">
            <input class="form-control" name="customProductType" [(ngModel)]="delivery.productType"  (keyup)="existType()"
                formControlName="productType" required placeholder="{{'write your type product'|translate}}"
                aria-invalid="true" type="text" aria-describedby="code-error" (ngModelChange)="getValue($event)">
                <div style=" color : red;" *ngIf="dispotrueType">{{"type must be unique"|translate}}</div>

        </div>
    </div>



    <div class="form-group col-md-6 " *ngIf="afficheother==false">
        <label class="required" for="instructiuonCode">{{ "instructiuonCode" | translate }}</label>

        <select class="form-control" (click)="getValue($event)" (change)="setname()" name="instructiuonCode"
            formControlName="instructiuonCode" (ngModelChange)="getValue($event)" required
            [(ngModel)]="delivery.instructiuonCode">
            <option value="" disabled [selected]="getList()">{{'Select your option'|translate}}</option>
            <option (click)=" setname()" *ngFor="let c of listA" [value]="c"> {{c}} </option>

        </select>

    </div>
    <div class="form-group col-md-6 " *ngIf="afficheother==true">
        <label class="required" for="instructiuonCode">{{ "instructiuonCode" | translate }}</label>

        <input class="form-control" name="instructiuonCode" [(ngModel)]="delivery.instructiuonCode" (keyup)="exist() "
            formControlName="instructiuonCode" required placeholder="{{'write your instructionCode'|translate}}"
            aria-invalid="true" type="text" aria-describedby="code-error" (ngModelChange)="getValue($event)">
            <div style=" color : red;" *ngIf="dispotrueCode">{{'Code must be unique'|translate}}</div>

    </div>
    <div class="form-group col-md-6" *ngIf="afficheother==false">
        <label class="required" for="instructiuonName">{{ "instructiuonName" | translate }}</label>
        <input readonly class="form-control" name="code" [(ngModel)]="delivery.instructiuonName"
            formControlName="instructiuonName" required placeholder=" {{'write your instructionname'|translate}}"
            aria-invalid="true" type="text" aria-describedby="code-error" (ngModelChange)="getValue($event)">


    </div>
    <div class="form-group col-md-6" *ngIf="afficheother==true">
        <label class="required" for="instructiuonName">{{ "instructiuonName" | translate }}</label>

        <input  class="form-control" name="instructiuonName" [(ngModel)]="delivery.instructiuonName" (keyup)="existname() "
            formControlName="instructiuonName" required placeholder="{{'write your instructionname'|translate}}"
            aria-invalid="true" type="text" aria-describedby="code-error" (ngModelChange)="getValue($event)">

            <div style=" color : red;" *ngIf="dispotruename">{{'name must be unique'|translate}}</div>


    </div>

    <div class="form-group col-md-6 ">
        <label  for="name">{{ "notes" | translate }}</label>
        <input class="form-control" name="name" formControlName="notes" [(ngModel)]="delivery.notes" required
            placeholder="{{'write your notes'|translate}}" aria-invalid="true" aria-describedby="name-error"
            (ngModelChange)="getValue($event)">

    </div>
    <div class="form-group col-md-6 align-self-end">
        <label for="active">
            <input [checked]="delivery.active" type="checkbox" id="active" name="active" #active="ngModel" ngModel [(ngModel)]="delivery.active" />
            {{ "active" | translate }}
        </label>
    </div>
</div>