<div class="main-content">

    <label class="pure-material-switch">
      <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheckboxChange()">
      <span class="style-text2"> {{'Go To Trash' | translate}}</span>
    </label>
  
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
  
      <div class="d-flex gap-2">
        <button class="btn btn-add btn-outline-success btn-sm btn-action rounded-pill style-button" (click)="onClickAdd()"
          [title]="'btns.add' | translate">
          <i class="fa fa-plus style-icons"></i>
          <span class="style-title"> {{'menu.add-LogisticUnity'|translate}}</span>
        </button>
  
      </div>
      
  
  
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input #search (input)="onFilterChange(search.value)" type="text" class="form-control bg-white"
          placeholder="{{'Search by logisticName'|translate}}" />
      </div>
    </div>
  
    <div  *ngIf="affiche==false" class="datatable">
      <ng-container *ngIf="loading">
        <app-spinner></app-spinner>
      </ng-container>
  
      <ng-container *ngIf="!loading && companyPage.empty">
        <app-no-data></app-no-data>
      </ng-container>



        <table class="table" *ngIf="!loading && !companyPage.empty">
          <thead class="datatable-header">
            <tr>
              <th>
                <strong class="style-text">
                  {{ "Logistic Code" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByCode()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                  {{ "Logistic Name" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                  {{ "Company Name" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                  {{ "Division Name" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                    {{'actions' | translate}}
                </strong>
            </th>
            </tr>
          </thead>
          <tbody class="text-sm" >
            <tr class="row-data" *ngFor="let comp of companys">
              <td>
                {{ comp.logisticCode }}
              </td>
              <td>
                {{ comp.logisticName}}
  
              </td>
              <td>
                {{ comp.companyName}}
  
              </td>
              <td>
                {{ comp.divisionName}}
  
              </td>
  
              <td class="d-flex gap-4">
                <button class="text-primary datatable-action-btn" (click)="onClickEdit(comp.id!)"
                  [title]="'btns.edit' | translate">
                  <i class="fa fa-pencil color-edit"></i>
                </button>
                <button class="text-danger datatable-action-btn" (click)="onClickArchive(comp.id!)"
                  [title]="'btns.delete' | translate">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
  
          </tbody>

        </table>
      
    </div>
    <div  *ngIf="affiche==true" class="datatable">
      <ng-container *ngIf="loading">
        <app-spinner></app-spinner>
      </ng-container>
  
      <ng-container *ngIf="!loading && companyPages.empty">
        <app-no-data></app-no-data>
      </ng-container>



        <table class="table" *ngIf="!loading && !companyPages.empty">
          <thead class="datatable-header">
            <tr>
              <th>
                <strong class="style-text">
                  {{ "Logistic Code" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByCode()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                  {{ "Logistic Name" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                  {{ "Company Name" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                  {{ "Division Name" | translate }}
                  <a href="javascript:void(0);">
                    <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  
                    </svg>
                  </a>
                </strong>
              </th>
              <th>
                <strong class="style-text">
                    {{'actions' | translate}}
                </strong>
            </th>
            </tr>
          </thead>

          <tbody>
            <tr class="row-data" *ngFor="let comp of companyss">
              <td>
                {{ comp.logisticCode }}
              </td>
              <td>
                {{ comp.logisticName}}
              </td>
              <td>
                {{ comp.companyName }}
              </td>
              <td>
                {{ comp.divisionName}}
              </td>
  
              <td class="d-flex gap-4">
  
                <button class="text-primary datatable-action-btn" (click)="onClickdisArchive(comp.id!)"
                  [title]="'Restore line' | translate">
                  <i class="fa fa-reply-all"></i>
                </button>
                <button class="text-danger datatable-action-btn" (click)="onClickDelete(comp.id!)"
                  [title]="'Delete permanently' | translate">
                  <i class="fa fa-trash"></i>
                </button>
                <!-- <button class="text-primary datatable-action-btn" (click)="onClickdisArchive(comp.id!)"
                    [title]="'btns.reset' | translate">
                    {{'Restore line'|translate}}
                </button>
                <button class="text-danger datatable-action-btn" (click)="onClickDelete(comp.id!)"
                    [title]="'btns.delete' | translate">
                    {{'Delete permanently'|translate}}
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      
    </div>
    <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [page]="companyPage"
      (onPageNumberChange)="onPageNumberChange($event)" (onPageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
  
   <app-wizard-dialog [currentStep]="currentStep" [entity]="camp" [type]="'vehicule'" [field]="null" #formModal>
      <app-logistic-unit-forms [currentStep]="currentStep" [camp]="camp">
        <app-stepper #stepper [currentStep]="currentStep" [steps]="steps"
          (onStepChange)="onStepChange($event)"></app-stepper>
      </app-logistic-unit-forms>
    </app-wizard-dialog> 
  
    <app-confirm-dialog #archiveModal></app-confirm-dialog>
  </div>