<div class="row">
  <div class="form-group col-md-6">
    <label for="warehouseprimary">{{ "warehouseprimary" | translate }} </label>
    <select
      [ngStyle]="{ color: farm.warehouseprimary ? 'black' : '#AAAAAA' }"
      (change)="selectValue1($event)"
      class="form-control"
      name="logistic"
    >
      <option value="">{{ "you must chose" | translate }}</option>
      <option
        [selected]="dv.code == farm.warehouseprimary"
        *ngFor="let dv of warehouses; let index = index"
        [value]="dv.code"
      >
        {{ dv.code }}
      </option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label class="clickable" for="warehousesecondry">{{
      "warehousesecondry" | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      name="warehousesecondry"
      #warehousesecondry="ngModel"
      ngModel
      [(ngModel)]="farm.warehousesecondry"
    />
  </div>
  <div class="form-group col-md-6">
    <label for="logistic">{{ "codeLogistic" | translate }}</label>

    <select
      [ngStyle]="{ color: farm.logistic ? 'black' : '#AAAAAA' }"
      (change)="selectValue($event)"
      class="form-control"
      name="logistic"
    >
      <option value="">{{ "you must chose" | translate }}</option>

      <option
        [selected]="dv.logisticCode == farm.logistic"
        *ngFor="let dv of logistics; let index = index"
        [value]="dv.logisticCode"
      >
        {{ dv.logisticName }}
      </option>
    </select>
  </div>
</div>
