<!-- <div class="row">
    <div class="form-group col-md-6">
      <label for="address">{{'Address' | translate}} </label>
      <input class="form-control" name="address" #address="ngModel" ngModel [(ngModel)]="division.address" 
      placeholder="{{'Write your Address'|translate}} " >
    </div>
  
  
    <div class="form-group col-md-6">
      <label for="cityCode">{{'codeCity' | translate}}</label>
      <input class="form-control" name="cityCode" #cityCode="ngModel" ngModel  [(ngModel)]="division.codeCity"
      placeholder="{{'Write your city code'|translate}} ">
    </div>
  
    <div class="form-group col-md-6">
      <label for="cityName">{{'nameCity' | translate}}</label>
      <input class="form-control" name="cityName" #cityName="ngModel" ngModel  [(ngModel)]="division.nameCity"
      placeholder="{{'Write your city name'|translate}} ">
    </div>


    <div class="form-group col-md-6">
        <label for="wilayaCode">{{'wilayaCode' | translate}}</label>
        <input class="form-control" name="wilayaCode" #wilayaCode="ngModel" ngModel [(ngModel)]="division.wilayaCode" 
        placeholder="{{'Write your wilaya code'|translate}} ">
      </div>
  
      <div class="form-group col-md-6">
        <label for="wilayaName">{{'wilayaName' | translate}}</label>
        <input class="form-control" name="wilayaName" #wilayaName="ngModel" ngModel [(ngModel)]="division.wilayaName" 
        placeholder="{{'Write your wilaya name'|translate}} ">
      </div>
  
  
  
    <div class="form-group col-md-6">
      <label for="zipCode">{{'zipCode' | translate}}</label>
      <input class="form-control" name="zipCode" #zipCode="ngModel" ngModel  [(ngModel)]="division.zipCode" 
      placeholder="{{'Write your zip code'|translate}} "> 
    </div>
  
    <div class="form-group col-md-6">
      <label for="phone">{{'phoneNumber' | translate}}</label>
      <input type="phone" class="form-control" name="phone" #email="ngModel" ngModel [(ngModel)]="division.phone"
      placeholder="{{'Write your phone'|translate}} ">
    </div>
    <div class="form-group col-md-6">
      <label for="email">{{ "emailcontact" | translate }}</label>
      <input class="form-control" name="email" #email="ngModel" ngModel [(ngModel)]="division.email" 
       placeholder="{{'Write your email'|translate}} " />
    </div>
   
    
  
  
  
  </div>
   -->




<div class="row">
  <div class="form-group col-md-6">
    <label for="company">{{'namecompany' | translate}}</label>
    <select (click)="selectValue1($event)" class="form-control" [(ngModel)]="division.companyname">
      <option [selected]="division.companyname==dv.name"  *ngFor="let dv of companys" [value]="dv.name"> {{dv.name}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-6">
    <input (click)="setCompany()" type="checkbox" [checked]="isRemenber">
    <label class="form-check-label" for="flexCheckChecked">
      {{'Réutiliser les informations de la Division'|translate}}
    </label>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-6">
    <label for="address">{{ "Address" | translate }}</label>
    <input class="form-control" name="address" #address="ngModel" ngModel [(ngModel)]="division.address"
      placeholder="{{'Write your Address'|translate}} " />
  </div>
  <div class="form-group col-md-6">
    <label for="email">{{ "emailcontact" | translate }}</label>
    <input class="form-control" name="email" #email="ngModel" ngModel [(ngModel)]="division.email"
      placeholder="{{'Write your city code'|translate}} " (blur)="validationEmail()" />
    <div style="color: red;" *ngIf="emailIsvalid">{{ "Invalid email format" | translate }}</div>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-6">
    <label for="cityCode">{{'codeCity' | translate}}</label>
    <input class="form-control" name="cityCode" #cityCode="ngModel" ngModel [(ngModel)]="division.codeCity"
      placeholder="{{'Write your city code'|translate}} ">
  </div>

  <div class="form-group col-md-6">
    <label for="cityName">{{'nameCity' | translate}}</label>
    <input class="form-control" name="cityName" #cityName="ngModel" ngModel [(ngModel)]="division.nameCity"
      placeholder="{{'Write your city name'|translate}} ">
  </div>

</div>

<div class="row">
  <div class="form-group col-md-6">
    <label for="wilayaCode">{{ "wilayaCode" | translate }}</label>
    <select (click)="selectValue($event)" type="number" class="form-control" name="wilayaCode" #wilayaCode="ngModel"
      [(ngModel)]="division.wilayaCode">
      <option *ngFor="let dv of wilayas" [value]="dv.code"> {{dv.code}}</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="wilayaName">{{ "wilayaName" | translate }}</label>
    <input readonly class="form-control" name="wilayaName" #wilayaName="ngModel" ngModel
      [(ngModel)]="division.wilayaName" placeholder="{{'Write your wilaya name'|translate}} " />
    <!-- <div style="border: 1px solid red; color : red;" *ngIf="minIwillaya">{{'wilaya Name  must be between 1 and 100 charactere'|translate}}</div> -->

  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label for="zipCode">{{'zipCode' | translate}}</label>
    <input class="form-control" name="zipCode" #zipCode="ngModel" ngModel [(ngModel)]="division.zipCode"
      placeholder="{{'Write your zip code'|translate}} ">
  </div>



  <div class="form-group col-md-6">
    <label for="phone">{{'phoneNumber' | translate}}</label>
    <div style="display: flex;">
      <select style="width: 50%;" class="form-control" (change)="selectContry($event)">
        <option disabled selected>{{"selectyourcontry"| translate}}</option>
        <option *ngFor="let c of countryPhoneCodes " [value]="c.code"> {{c.country}}
        </option>
      </select>
      <img *ngIf="flag!=''" id="flag" style="width: 40px; height: 35px;margin-left: 1%;margin-right: 1%;"
        [src]="getflage()">
      <input (keyup)="phoneNumberinp($event)" type="phone" class="form-control" name="phone" (blur)="isBlur3()" #email="ngModel" ngModel
        [(ngModel)]="division.phone" placeholder="{{'Write your phone'|translate}} ">
    </div>
    <div style="border: 1px solid red; color : red;" *ngIf="minIphone">{{'phone number must be have 12
      charactere'|translate}}</div>

  </div>
</div>