<div class="row" [formGroup]="addform">

    <div class="form-group col-md-6">
        <label class="required" for="code">{{'Seaport Code' | translate}} <span style="color: red;">*</span></label>
        <input type="number" class="form-control" name="code" ngModel [(ngModel)]="seaport.seaportCode"
            formControlName="code" required aria-invalid="true" (ngModelChange)="geValues($event)" />
        <div *ngIf="code?.touched && code?.invalid">
            <small class="text-danger" *ngIf="code.errors?.['required']">{{'Code obli' | translate}}</small>

        </div>
        <div *ngIf="code?.invalid">
            <small class="text-danger" *ngIf="code.errors?.['maxlength']">{{'max length' | translate}}</small>
        </div>
        <div *ngIf="code?.invalid">
            <small class="text-danger" *ngIf="code.errors?.['pattern']">{{'positive number' |
                translate}}</small>
        </div>
    </div>

    <div lass="required" class="form-group col-md-6">
        <label for="name">{{'Seaport Name' | translate}} <span style="color: red;">*</span></label>
        <input class="form-control" name="name" ngModel [(ngModel)]="seaport.seaportName" required aria-invalid="true"
            formControlName="name" (ngModelChange)="geValues($event)" />
        <div *ngIf="name?.touched && name?.invalid">
            <small class="text-danger" *ngIf="name.errors?.['required']">{{'Name obli' | translate}}</small>


        </div>
        <div *ngIf="name?.invalid">
            <small class="text-danger" *ngIf="name.errors?.['maxlength']">{{'max length' | translate}}</small>
        </div>
    </div>


</div>