<div class="row">
  <div class="form-group col-md-6">
    <label for="termDays">{{ "termDays" | translate }}</label>
    <input
      class="form-control"
      name="termDays"
      #termsDays="ngModel"
      ngModel
      [(ngModel)]="commande.termDays"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="termMonth">{{ "termMonth" | translate }}</label>
    <input
      class="form-control"
      name="termMonth"
      #termMonth="ngModel"
      ngModel
      [(ngModel)]="commande.termMonth"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="discountRate">{{ "discountRate" | translate }}</label>
    <input
      class="form-control"
      name="discountRate"
      #discountRate="ngModel"
      ngModel
      [(ngModel)]="commande.discountRate"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="discountDays">{{ "discountDays" | translate }}</label>
    <input
      class="form-control"
      name="discountDays"
      #discountDays="ngModel"
      ngModel
      [(ngModel)]="commande.discountDays"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="prepay">{{ "prepay" | translate }}</label>
    <input
      class="form-control"
      name="prepay"
      #prepay="ngModel"
      ngModel
      [(ngModel)]="commande.prepay"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="notes">{{ "notes" | translate }}</label>
    <input
      class="form-control"
      name="notes"
      #notes="ngModel"
      ngModel
      [(ngModel)]="commande.notes"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="schedulePay">{{ "schedulePay" | translate }}</label>
    <input
      class="form-control"
      name="schedulePay"
      #schedulePay="ngModel"
      ngModel
      [(ngModel)]="commande.schedulePay"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="taxDistribution">{{ "taxDistribution" | translate }}</label>
    <input
      class="form-control"
      name="taxDistribution"
      #taxDistribution="ngModel"
      ngModel
      [(ngModel)]="commande.taxDistribution"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="scheduleBasis">{{ "scheduleBasis" | translate }}</label>
    <input
      class="form-control"
      name="scheduleBasis"
      #scheduleBasis="ngModel"
      ngModel
      [(ngModel)]="commande.scheduleBasis"
    />
  </div>
</div>
