<div class="row">
  <div class="form-group col-md-6">
    <label for="emplacementDeDestinationDuTransfertNon">{{
      "emplacementDeDestinationDuTransfertNon" | translate
    }}</label>
    <input
      class="form-control"
      name="emplacementDeDestinationDuTransfertNon"
      [(ngModel)]="camp.emplacementDeDestinationDuTransfertNon"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="numeroDeLotDeDestinationDuTransfert">{{
      "numeroDeLotDeDestinationDuTransfert" | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      name="numeroDeLotDeDestinationDuTransfert"
      [(ngModel)]="camp.numeroDeLotDeDestinationDuTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="nduProduitDeDestinationDuTransfert">{{
      "nDuProduitDeDestinationDuTransfert" | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      name="nduProduitDeDestinationDuTransfert"
      [(ngModel)]="camp.nduProduitDeDestinationDuTransfert"
    />
  </div>
  <div class="form-group col-md-6">
    <label for="nomDuProduitDeDestinationDuTransfert">{{
      "nomDuProduitDeDestinationDuTransfert" | translate
    }}</label>
    <input
      class="form-control"
      name="nomDuProduitDeDestinationDuTransfert"
      [(ngModel)]="camp.nomDuProduitDeDestinationDuTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="numeroDeReferenceDeLaDestinationDuTransfert">{{
      "numeroDeReferenceDeLaDestinationDuTransfert" | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      type="text"
      name="numeroDeReferenceDeLaDestinationDuTransfert"
      [(ngModel)]="camp.numeroDeReferenceDeLaDestinationDuTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="idEntiteDeTransactionDeDestinationDeTransfert">{{
      "idEntiteDeTransactionDeDestinationDeTransfert" | translate
    }}</label>
    <input
      class="form-control"
      name="idEntiteDeTransactionDeDestinationDeTransfert"
      [(ngModel)]="camp.idEntiteDeTransactionDeDestinationDeTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="nomDeEntiteDeLaTransactionDeDestinationDuTransfert">{{
      "nomDeEntiteDeLaTransactionDeDestinationDuTransfert" | translate
    }}</label>
    <input
      class="form-control"
      name="nomDeEntiteDeLaTransactionDeDestinationDuTransfert"
      [(ngModel)]="camp.nomDeEntiteDeLaTransactionDeDestinationDuTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="typeEntrepotDeDestinationDuTransfert">{{
      "typeEntrepotDeDestinationDuTransfert" | translate
    }}</label>
    <input
      class="form-control"
      name="typeEntrepotDeDestinationDuTransfert"
      [(ngModel)]="camp.typeEntrepotDeDestinationDuTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="emplacementDeLaSourceDeTransfertNon">{{
      "emplacementDeLaSourceDeTransfertNon" | translate
    }}</label>
    <input
      class="form-control"
      name="emplacementDeLaSourceDeTransfertNon"
      [(ngModel)]="camp.emplacementDeLaSourceDeTransfertNon"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="numeroDeLotSourceDeTransfert">{{
      "numeroDeLotSourceDeTransfert" | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      type="text"
      name="numeroDeLotSourceDeTransfert"
      [(ngModel)]="camp.numeroDeLotSourceDeTransfert"
    />
  </div>
  <div class="form-group col-md-6">
    <label for="typeEnregistrement">{{
      "typeEnregistrement" | translate
    }}</label>
    <input
      class="form-control"
      name="typeEnregistrement"
      [(ngModel)]="camp.typeEnregistrement"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="nduProduitSourceDeTransfert">{{
      "nDuProduitSourceDeTransfert" | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      name="nduProduitSourceDeTransfert"
      [(ngModel)]="camp.nduProduitSourceDeTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="nomDuProduitSourceDeTransfert">{{
      "nomDuProduitSourceDeTransfert" | translate
    }}</label>
    <input
      class="form-control"
      name="nomDuProduitSourceDeTransfert"
      [(ngModel)]="camp.nomDuProduitSourceDeTransfert"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="typeEntrepotOrigineDuTransfert">{{
      "typeEntrepotOrigineDuTransfert" | translate
    }}</label>
    <input
      class="form-control"
      name="typeEntrepotOrigineDuTransfert"
      [(ngModel)]="camp.typeEntrepotOrigineDuTransfert"
    />
  </div>
  <div class="form-group col-md-6">
    <label for="descriptionDeUnite">{{
      "descriptionDeUnite" | translate
    }}</label>
    <input
      class="form-control"
      name="descriptionDeUnite"
      [(ngModel)]="camp.descriptionDeUnite"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="valeurUnitaire">{{ "valeurUnitaire" | translate }}</label>
    <input
      type="number"
      class="form-control"
      type="text"
      name="valeurUnitaire"
      [(ngModel)]="camp.valeurUnitaire"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="unitesPar">{{ "unitesPar" | translate }}</label>
    <input class="form-control" name="unitesPar" [(ngModel)]="camp.unitesPar" />
  </div>

  <div class="form-group col-md-6">
    <label for="nduVendeur">{{ "nDuVendeur" | translate }}</label>
    <input
      type="number"
      class="form-control"
      name="nduVendeur"
      [(ngModel)]="camp.nduVendeur"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="nomDuVendeur">{{ "nomDuVendeur" | translate }}</label>
    <input
      class="form-control"
      name="nomDuVendeur"
      [(ngModel)]="camp.nomDuVendeur"
    />
  </div>
  <div class="form-group col-md-6">
    <label for="valeurDeFil">{{ "noSKUDuFournisseur" | translate }}</label>
    <input
      type="number"
      class="form-control"
      name="noSKUDuFournisseur"
      [(ngModel)]="camp.noSKUDuFournisseur"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="nomSKUDuFournisseur">{{
      "nomSKUDuFournisseur" | translate
    }}</label>
    <input
      class="form-control"
      name="nomSKUDuFournisseur"
      [(ngModel)]="camp.nomSKUDuFournisseur"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="typeEntrepot">{{ "typeEntrepot" | translate }}</label>
    <input
      class="form-control"
      name="typeEntrepot"
      [(ngModel)]="camp.typeEntrepot"
    />
  </div>
</div>
