<div class="row">
    <div class="form-group col-md-6">
      <label for="startDateInformation">{{'PayementType' | translate}}</label>
      <select    class="form-control" name="PaymentType" #PaymentType="ngModel" ngModel [(ngModel)]="farm.PaymentType">
        <option  value="Checking" > {{'Checking'|translate}}</option>
        <option  value="saving" >{{'saving'|translate}}  </option>
        <option  value="paycheck" >{{'paycheck'|translate}}  </option>
      </select>
    </div>
  
    <div class="form-group col-md-6">
      <label for="AccountNumber">{{'AccountNumber' | translate}} </label>
      <input class="form-control" name="AccountNumber" #AccountNumber="ngModel" ngModel [(ngModel)]="farm.AccountNumber">
    </div>
  
    <div class="form-group col-md-6">
      <label for="BankName">{{'BankNme' | translate}}</label>
      <input class="form-control" name="BankName" #BankName="ngModel" ngModel [(ngModel)]="farm.BankName">
    </div>
   
    <div class="form-group col-md-6">
      <label for="BankCode">{{'BankCode' | translate}}</label>
      <input class="form-control" name="BankCode" #BankCode="ngModel" ngModel [(ngModel)]="farm.BankCode">
    </div>
    <div class="form-group col-md-6">
      <label for="Bankaddress">{{'Bankaddress' | translate}}</label>
      <input class="form-control" name="Bankaddress" #Bankaddress="ngModel" ngModel [(ngModel)]="farm.Bankaddress">
    </div>
  
    <div class="form-group col-md-6">
      <label for="DirectDepositflag">{{'DirectDepositflag' | translate}}</label>
      <input class="form-control" name="DirectDepositflag" #DirectDepositflag="ngModel" ngModel [(ngModel)]="farm.DirectDepositflag">
    </div>
  
   
    <div class="form-group col-md-6">
      <label for="typepayment">{{'typepayment' | translate}}</label>
      <input class="form-control" name="typepayment" #typepayment="ngModel" ngModel [(ngModel)]="farm.typepayment">
    </div>
  
    <div class="form-group col-md-6">
      <label for="OperationDate">{{'OperationDate' | translate}}</label>
      <input class="form-control" type="date" name="OperationDate" #OperationDate="ngModel" ngModel [(ngModel)]="farm.OperationDate">
    </div>
  
    <div class="form-group col-md-6">
      <label for="typepayment">{{'typepayment' | translate}}</label>
      <input class="form-control" name="typepayment" #typepayment="ngModel" ngModel [(ngModel)]="farm.typepayment">
    </div>
  
    <div class="form-group col-md-6">
      <label for="amounttransferred">{{'amounttransferred' | translate}}</label>
      <input class="form-control" name="amounttransferred" #amounttransferred="ngModel" ngModel [(ngModel)]="farm.amounttransferred">
    </div>
  
  </div>
  