<div class="row" [formGroup]="addform">
  <div style="display: none">{{ getstatus() }}</div>

  <div class="form-group col-md-6">
    <label class="required" for="code">{{ "codewillaya" | translate }}</label>
    <input
      class="form-control"
      name="code"
      (blur)="
        isBlurDCisvalid(); geValues($event); exist(); blur1(); validationCode()
      "
      [(ngModel)]="willaya.code"
      formControlName="code"
      required
      placeholder=" {{ 'Write your willaya code' | translate }}"
      aria-invalid="true"
      aria-describedby="code-error"
      (ngModelChange)="geValues($event)"
    />
    <div style="color: red" *ngIf="dispotrueCode">
      {{ "Code must be unique" | translate }}
    </div>
    <div style="color: red" *ngIf="DCisvalid">
      {{ "Code must be not null" | translate }}
    </div>
    <div style="color: red" *ngIf="codeIsvalid">
      {{ "Invalid code format" | translate }}
    </div>
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="name">{{ "namewillaya" | translate }}</label>
    <input
      class="form-control"
      (blur)="existname(); isBlurDNisvalid(); geValues($event)"
      name="name"
      formControlName="name"
      [(ngModel)]="willaya.name"
      required
      placeholder="{{ 'Write your willaya name' | translate }}"
      aria-invalid="true"
      aria-describedby="name-error"
      (ngModelChange)="geValues($event)"
    />
    <div style="color: red" *ngIf="DNisvalid">
      {{ "Name must be not null" | translate }}
    </div>

    <div style="color: red" *ngIf="dispotruename">
      {{ "name must be unique" | translate }}
    </div>
  </div>
</div>
