<div class="row">
  <div class="form-group col-md-6">
    <label for="companyName">{{ "companyName" | translate }}</label>
    <select
      class="form-control"
      name="companyName"
      #companyName="ngModel"
      [(ngModel)]="camp.companyName"
    >
      <option *ngFor="let name of companyNames" [value]="name">
        {{ name }}
      </option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label for=" divisionName">{{ "divisionName" | translate }}</label>
    <select
      class="form-control"
      name="divisionName"
      #divisionName="ngModel"
      [(ngModel)]="camp.divisionName"
    >
      <option *ngFor="let name of divisionNames" [value]="name">
        {{ name }}
      </option>
    </select>
  </div>
</div>
