<div class="main-content">

  <label class="pure-material-switch">
    <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheckboxChange()">
    <span class="style-text2"> {{'Go To Trash' | translate}}</span>
  </label>

  <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
  
    <div class="d-flex gap-2">
      <button class="btn btn-add btn-outline-success btn-sm btn-action rounded-pill style-button" (click)="onClickAdd()"
        [title]="'btns.add' | translate">
        <i class="fa fa-plus style-icons"></i>
        <span class="style-title"> {{'menu.add-FieldProduct'|translate}}</span>
      </button>

   
    
      <button class="btn btn-add btn-outline-success btn-sm btn-action" (click)="openImportModal()"
        [title]="'btns.import' | translate">
        <i class="fa fa-upload"></i>
      </button>
    </div>

    


    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input #search (input)="onFilterChange(search.value)" type="text" class="form-control bg-white"
        placeholder="Search">
    </div>
  </div>

  <div *ngIf="!affiche" class="datatable">

    <ng-container *ngIf="loading">
      <app-spinner></app-spinner>
    </ng-container>

    <ng-container *ngIf="!loading && produitsPage.empty">
      <app-no-data></app-no-data>
    </ng-container>

    <table class="table" *ngIf="!loading && !produitsPage.empty">
      <thead class="datatable-header">
        <tr>
          <th>
            <strong class="style-text">
              {{'name' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong >
          </th>
          <th>
            <strong class="style-text">
              {{'code' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByCode()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
   
          <th>
            <strong class="style-text">
              {{'category' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByCategorie()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'status' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortBywillaya()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'prixUnitaireHt' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByprixUnitaireHt()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'tauxTva' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="tauxTva()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'prixTTC' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByEmail()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'actions' | translate}}
        
            </strong>
          </th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <tr class="row-data" *ngFor="let produit of produits">
          <td>
            {{produit.name}}
          </td>
          <td>
            {{produit.code}}
          </td>
        
          <td>
            {{produit.category?.id}}
          </td>
          <td>
            <i *ngIf="!produit.status" class="zmdi zmdi-close text-danger text-lg"></i>
            <i *ngIf="produit.status" class="zmdi zmdi-check text-success text-lg"></i>
          </td>
          <td>
            {{produit.prixUnitaireHt}}
          </td>
          <td>
            {{produit.tauxTva}}%
          </td>
          <td>
            {{produit.prixUnitaireTtc}}
          </td>

          <td class="d-flex gap-4">
            <button class="text-primary datatable-action-btn" (click)="onClickEdit(produit.id!)"
              [title]="'btns.edit' | translate">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="text-danger datatable-action-btn" (click)="onClickArchive(produit.id!)"
              [title]="'btns.delete' | translate">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="affiche" class="datatable">

    <ng-container *ngIf="loading">
      <app-spinner></app-spinner>
    </ng-container>

    <ng-container *ngIf="!loading && produitsPages.empty">
      <app-no-data></app-no-data>
    </ng-container>

    <table class="table" *ngIf="!loading && !produitsPages.empty">
      <thead class="datatable-header">
        <tr>
          <th>
            <strong class="style-text">
              {{'name' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong >
          </th>
          <th>
            <strong class="style-text">
              {{'code' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByCode()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
   
          <th>
            <strong class="style-text">
              {{'category' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByCategorie()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'status' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortBywillaya()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'prixUnitaireHt' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByprixUnitaireHt()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'tauxTva' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="tauxTva()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'prixTTC' | translate}}
              <a href="javascript:void(0);">
                <svg (click)="sortByEmail()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-chevron-double-down custom-color" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />

                </svg>
              </a>
            </strong>
          </th>
          <th>
            <strong class="style-text">
              {{'actions' | translate}}
        
            </strong>
          </th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <tr class="row-data" *ngFor="let produit of produitss">
          <td>
            {{produit.name}}
          </td>
          <td>
            {{produit.code}}
          </td>
        
          <td>
            {{produit.category?.id}}
          </td>
          <td>
            <i *ngIf="!produit.status" class="zmdi zmdi-close text-danger text-lg"></i>
            <i *ngIf="produit.status" class="zmdi zmdi-check text-success text-lg"></i>
          </td>
          <td>
            {{produit.prixUnitaireHt}}
          </td>
          <td>
            {{produit.tauxTva}}%
          </td>
          <td>
            {{produit.prixUnitaireTtc}}
          </td>

          <td class="d-flex gap-4">
            <button class="text-primary datatable-action-btn" (click)="onClickdisArchive(produit.id!)"
            [title]="'Restore line' | translate">
            <i class="fa fa-reply-all"></i>
        </button>
          <button class="text-danger datatable-action-btn" (click)="onClickDelete(produit.id!)"
            [title]="'Delete permanently' | translate">
            <i class="fa fa-trash"></i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-confirm-dialog #archiveModal></app-confirm-dialog>

  <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [page]="produitsPage"
    (onPageNumberChange)="onPageNumberChange($event)" (onPageSizeChange)="onPageSizeChange($event)">
  </app-pagination>

  <app-wizard-dialog [currentStep]="currentStep" #formModal>
    <app-produits-form [currentStep]="currentStep" [produit]="produit">
      <app-stepper #stepper [currentStep]="currentStep" [steps]="steps"
        (onStepChange)="onStepChange($event)"></app-stepper>
    </app-produits-form>
  </app-wizard-dialog>

  <app-dialog #importModal>
    <div class="d-flex align-items-center justify-content-around my-2">
      <button class="btn btn-add btn-outline-success" (click)="onDownloadCSVTempalte()"
        [title]="'btns.download' | translate">
        <i class="fa fa-download"></i>
        {{'message.download-csv-template' | translate}}
      </button>
      <button class="btn btn-add btn-outline-success" (click)="fileInput.click()" [title]="'btns.import' | translate">
        <i class="fa fa-upload"></i>
        {{'btns.select-file' | translate}}
      </button>
    </div>

    <div *ngIf="file" class="d-flex align-items-center gap-2 justify-content-center">
      <i class="fa fa-file"></i>
      <strong>{{file.name}}</strong>
    </div>
    <input (change)="onCSVChange($event)" hidden type="file" accept=".csv" #fileInput>
  </app-dialog>

  <app-confirm-dialog #deleteModal></app-confirm-dialog>
</div>