


<div class="row">
  <div class="form-group col-md-6">
    <label for="nomOperationmaintenance">{{ "nomOperationmaintenance" | translate }}</label>
      <input  class="form-control" name="nomOperationmaintenance" #nomOperationmaintenance="ngModel" ngModel [(ngModel)]="camp.nomOperationmaintenance"
        placeholder="{{'Write your nomOperationmaintenance'|translate}} "/>
  </div>
      
 
    <div class="form-group col-md-6">
      <label for="numerooperationmaintenance">{{ "numerooperationmaintenance" | translate }}</label>
        <input  class="form-control" name="numerooperationmaintenance" #numerooperationmaintenance="ngModel" ngModel [(ngModel)]="camp.numerooperationmaintenance"
          placeholder="{{'Write your numerooperationmaintenance'|translate}} "/>
  </div>

  <div class="form-group col-md-6">
    <label for="dateDerealisation">{{ "dateDerealisation" | translate }}</label>
      <input type="date" class="form-control" name="dateDerealisation" #dateDerealisation="ngModel" ngModel [(ngModel)]="camp.dateDerealisation"
        placeholder="{{'Write your dateDerealisation'|translate}} "/>
  </div>
  

  <div class="form-group col-md-6">
    <label for="KilometrageDerealisation">{{ "KilometrageDerealisation" | translate }}</label>
      <input type="number" class="form-control" name="kilometrageDerealisation" #kilometrageDerealisation="ngModel" ngModel [(ngModel)]="camp.kilometrageDerealisation"
        placeholder="{{'Write your KilometrageDerealisation'|translate}} "/>
  </div>

  <div class="form-group col-md-6">
    <label for="listeDesOperationsEffectuees">{{ "listeDesOperationsEffectuees" | translate }}</label>
      <input class="form-control" name="listeDesOperationsEffectuees" #listeDesOperationsEffectuees="ngModel" ngModel [(ngModel)]="camp.listeDesOperationsEffectuees"
        placeholder="{{'Write your listeDesOperationsEffectuees'|translate}} "/>
  </div>
  <div class="form-group col-md-6">
    <label for="papiersDuVehicule">{{ "papiersDuVehicule" | translate }}</label>
      <!-- <input class="form-control" name="papiersDuVehicule" #papiersDuVehicule="ngModel" ngModel [(ngModel)]="camp.papiersDuVehicule" -->
    
  </div>
 <input type="file" (change)="handleFile($event)">

</div>