


<div class="row">
  <div class="form-group col-md-6">
    <label for="nomOperationmaintenance">{{ "nomOperationmaintenance" | translate }}</label>
      <input (blur)="validationCode()" class="form-control" name="nomOperationmaintenance" #nomOperationmaintenance="ngModel" ngModel [(ngModel)]="camp.nomOperationmaintenance"
        placeholder="{{'Write your nomOperationmaintenance'|translate}} "/>
        <div  style="color: red;" *ngIf="codeIsvalid">{{ "Invalid code format" |translate }}</div>
  </div>
      
 
    <div class="form-group col-md-6">
      <label for="numerooperationmaintenance">{{ "numerooperationmaintenance" | translate }}</label>
        <input (blur)="validationCode1()"  class="form-control" name="numerooperationmaintenance" #numerooperationmaintenance="ngModel" ngModel [(ngModel)]="camp.numerooperationmaintenance"
          placeholder="{{'Write your numerooperationmaintenance'|translate}} "/>
          <div  style="color: red;" *ngIf="codeIsvalid1">{{ "Invalid code format" |translate }}</div>
  </div>

  <div class="form-group col-md-6">
    <label for="dateDerealisation">{{ "dateDerealisation" | translate }}</label>
      <input type="date" class="form-control" name="dateDerealisation" #dateDerealisation="ngModel" ngModel [(ngModel)]="camp.dateDerealisation"
        placeholder="{{'Write your dateDerealisation'|translate}} "/>
  </div>
  

  <div class="form-group col-md-6">
    <label for="KilometrageDerealisation">{{ "KilometrageDerealisation" | translate }}</label>
      <input type="number" class="form-control" name="kilometrageDerealisation" #kilometrageDerealisation="ngModel" ngModel [(ngModel)]="camp.kilometrageDerealisation"
        placeholder="{{'Write your KilometrageDerealisation'|translate}} "/>
  </div>

  <div class="form-group col-md-6">
    <label for="listeDesOperationsEffectuees">{{ "listeDesOperationsEffectuees" | translate }}</label>
      <input *ngIf="otherChek" class="form-control" name="listeDesOperationsEffectuees" #listeDesOperationsEffectuees="ngModel" ngModel [(ngModel)]="camp.listeDesOperationsEffectuees"
        placeholder="{{'Write your listeDesOperationsEffectuees'|translate}} "/>
        <select *ngIf="!otherChek" [ngStyle]="{'color': (camp.listeDesOperationsEffectuees) ? 'black' : '#AAAAAA'}"   class="form-control" name="listeDesOperationsEffectuees" >
          <option value=""> {{'you must chose' |translate}}</option>
    
          <option [selected]="dv==camp.listeDesOperationsEffectuees" *ngFor="let dv of listStrings;let index=index" [value]="dv">
            {{dv}}</option>
        </select>
        <input type="checkbox" value="otherChek" (click)="changeotherChek()" aria-label="other" >
  </div>
  <div class=" col-md-6">
    <label for="papiersDuVehicule">{{ "papiersDuVehicule" | translate }}</label>
    <input style="width: 100%;" type="file" (change)="handleFile($event)">
    
  </div>

</div>