
<div class="row">
    <div class="form-group col-md-6">
      <label for="transCode">{{ "transCode" | translate }}</label>
        <input class="form-control" name="transCode" [(ngModel)]="camp.transCode">
    </div>

    <div class="form-group col-md-6">
      <label for="typeDeProduit">{{ "typeDeProduit" | translate }}</label>
        <select class="form-control" name="typeDeProduit" [(ngModel)]="camp.typeDeProduit">
          <option value="Field Products">{{'Field Products'|translate}}</option>
          <option value="Medicaments">{{'Medicaments'|translate}}</option>
          <option value="Vaccinations">{{'Vaccinations'|translate}}</option>
        </select>
    </div>
    

<div class="form-group col-md-6">
  <label for="codeProduit">{{ "codeProduit" | translate }}</label>
  <select class="form-control" name="codeProduit" [(ngModel)]="camp.codeProduit" (change)="onCodeSelect()">
    <option *ngFor="let name of divisionNames" [value]="name">{{name}}</option>
  </select>
</div>

<div class="form-group col-md-6">
  <label for="nomDuProduit">{{ "nomDuProduit" | translate }}</label>
  <input class="form-control" type="text" name="nomDuProduit" [(ngModel)]="camp.nomDuProduit" value="productName">
</div>
<div class="form-group col-md-6">
  <label for="location">{{ "locationLot" | translate }}</label>
    <input type="text" class="form-control" name="location" [(ngModel)]="camp.location">
</div>
    <div class="form-group col-md-6">
      <label for="quantite">{{ "quantite" | translate }}</label>
        <input type="number" class="form-control" name="quantite" [(ngModel)]="camp.quantite">
    </div>
    
    <div class="form-group col-md-6">
      <label for="montant">{{ "montant" | translate }}</label>
        <input type="number" class="form-control" name="montant" [(ngModel)]="camp.montant">
           
    </div>
    <div class="form-group col-md-6 align-self-end">
      <label for="active">
    <input type="checkbox" id="active" name="active" formControlName="void" ngModel [(ngModel)]="camp.void">
    {{"Voidflag" | translate}}
  </label>
  </div>
    <div class="form-group col-md-6">
      <label for="commentaire">{{ "commentaire" | translate }}</label>
        <input class="form-control" name="commentaire" [(ngModel)]="camp.commentaire">
    </div>
  </div>