<div class="row" >

    <div class="form-group col-md-6">
        <label for="company">{{'currency' | translate}}</label>
        <select class="form-control" name="company"  #company="ngModel" ngModel [(ngModel)]="sales.currency.id"  aria-placeholder="--Select your Campany--"
            (ngModelChange)="onCompanyChange()">
            <option value="" [selected]> --Select your Campany-- </option>
            <option *ngFor="let comp of currency" [value]="comp.id">
                {{comp.name}}
            </option>
        </select>
    </div>


</div>