<div class="main-content">


    <a routerLink="/airports"><button class="btn btn-success pull-right">Back to list</button></a>

    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">

        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>

            <input class="form-control bg-white" type="text" (keyup)="searchByAirportName()" [(ngModel)]="airportName"
                [placeholder]="'Enter airport name' | translate" />
        </div>
    </div>

    <div class="datatable">

        <ng-container *ngIf="loading">
            <app-spinner></app-spinner>
        </ng-container>

        <ng-container *ngIf="!loading && airports.length==0">

            <app-no-data></app-no-data>
        </ng-container>


        <table class="table" *ngIf="!loading && airports.length!=0">
            <thead class="datatable-header">
                <tr>
                    <th>
                        <strong>
                            {{ "Code Aéroport" | translate }}
                            <a href="javascript:void(0);">
                                <svg (click)="AirportCode()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </strong>
                    </th>
                    <th>
                        <strong>
                            {{ "Nom Aéroport" | translate }}
                            <a href="javascript:void(0);">
                                <svg (click)="sortByAirportName()" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-chevron-double-down"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </strong>
                    </th>

                    <th>
                        <strong>
                            {{ "notes" | translate }}
                            <a href="javascript:void(0);">
                                <svg (click)="sortByNotes()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </strong>
                    </th>
                    <!-- <th>
                      <strong>
                        {{'city' }}
                        <a href="javascript:void(0);">
                          <svg (click)="sortBynameCity()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
          
                          </svg>
                        </a>
                      </strong>
                    </th>-->
                    <th>
                        <strong>
                            {{ "Actions" }}
                        </strong>
                    </th>
                </tr>
            </thead>

            <tbody class="text-sm">
                <tr class="row-data" *ngFor="let airport of airports">
                    <td>
                        {{airport.airportCode}}
                    </td>
                    <td>
                        {{airport.airportName}}
                    </td>
                    <td>
                        {{airport.notes}}
                    </td>


                    <td class="d-flex gap-4">
                        <button class="text-primary datatable-action-btn" (click)="onclickActivateModal(airport.id!)"
                            [title]="'btns.edit' | translate">
                            <i class="fa fa-reply"></i>
                        </button>
                        <button class="text-danger datatable-action-btn" (click)="onclickDeletePerma(airport.id!)"
                            [title]="'btns.delete' | translate">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [page]="trashPage"
        (onPageNumberChange)="onPageNumberChange($event)" (onPageSizeChange)="onPageSizeChange($event)">
    </app-pagination> -->



    <app-confirm-dialog #dearchivedModal></app-confirm-dialog>

    <app-confirm-dialog #deletePermaModal></app-confirm-dialog>

</div>