<div class="row">
  
 
     
    <div class="form-group col-md-6">
      <label class="clickable" for="distnfarmlogi">{{'distnfarmlogi' | translate}}</label>
      <input type="text" class="form-control" name="distnfarmlogi" #distnfarmlogi="ngModel" ngModel
        [(ngModel)]="farm.distnfarmlogi">
    </div>
  
    <div class="form-group col-md-6">
        <label class="clickable" for="distnfarmMarket">{{'distnfarmMarket' | translate}}</label>
        <input type="text" class="form-control" name="distnfarmMarket" #distnfarmMarket="ngModel" ngModel
          [(ngModel)]="farm.distnfarmMarket">
      </div>
    
    
  </div>
  