<div class="row">

  <div class="form-group col-md-6">
    <label for="sales">{{'sales' | translate}}</label>
    <select class="form-control" name="sales" #sales="ngModel" ngModel [(ngModel)]="produit.salesSKU.sales">
      <option *ngFor="let sales of salesList" [value]="sales">
        {{sales}}
      </option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label for="code">{{'code' | translate}}</label>
    <input class="form-control" name="code" #code="ngModel" ngModel [(ngModel)]="produit.salesSKU.code">
  </div>

  <div class="form-group col-md-6">
    <label for="name">{{'name' | translate}}</label>
    <input class="form-control" name="name" #name="ngModel" ngModel [(ngModel)]="produit.salesSKU.name">
  </div>

</div>
