<!-- <div class="row" [formGroup]="addform">
  <div class="form-group col-md-6">
    <label class="required" for="farmType">{{ "farmType" | translate }} </label>
    <input class="form-control" name="farmType" formControlName="farmType" ngModel [(ngModel)]="cost.farmType"
      [class.is-invalid]="isControlInValid('farmType')" [class.is-valid]="isControlValid('farmType')"
      aria-invalid="true" (change)="geValues($event)" />
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="division_Code">{{ "division_Code" | translate }}</label>
    <input class="form-control" name="cityCode" formControlName="division_Code" ngModel [(ngModel)]="cost.division_Code"
      [class.is-invalid]="isControlInValid('division_Code')" [class.is-valid]="isControlValid('division_Code')"
      aria-invalid="true" (change)="geValues($event)" />
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="division_Name">{{ "division_Name" | translate }}</label>
    <input class="form-control" name="division_Name" formControlName="division_Name" ngModel
      [(ngModel)]="cost.division_Name" [class.is-invalid]="isControlInValid('division_Name')"
      [class.is-valid]="isControlValid('division_Name')" aria-invalid="true" (change)="geValues($event)" />
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="facilityType">{{ "facilityType" | translate }}</label>
    <input class="form-control" name="facilityType" formControlName="facilityType" ngModel
      [(ngModel)]="cost.facilityType" [class.is-invalid]="isControlInValid('facilityType')"
      [class.is-valid]="isControlValid('facilityType')" aria-invalid="true" (change)="geValues($event)" />
  </div>
</div> -->

<div class="row">
  <!-- <div class="form-group col-md-6">
    <label for="farmType">{{ "farmType" | translate }} </label>
    <input (blur)="isBlur()" class="form-control" name="farmType" #address="ngModel" ngModel [(ngModel)]="cost.farmType"
     placeholder=" {{'Write your farmType'|translate}}"  />
     <div style="border: 1px solid red; color : red;" *ngIf="minIfarmtype">{{'farmType must be have 5 charactere'|translate}}</div>

  </div>

  <div class="form-group col-md-6">
    <label for="divisionName">{{ "divisionName" | translate }}</label>
    <input class="form-control" name="divisionName" #division_Name="ngModel" ngModel [(ngModel)]="cost.division_Name" 
     placeholder=" {{'Write your Division name'|translate}} " />
  </div>

  <div class="form-group col-md-6">
    <label for="divisionCode">{{ "divisionCode" | translate }}</label>
    <input class="form-control" name="divisionCode" #division_Code="ngModel" ngModel [(ngModel)]="cost.division_Code" 
     placeholder=" {{'Write your division code'|translate}}" />
     <div style="border: 1px solid red; color : red;" *ngIf="minIdivision">{{'Devision code  must be between 1 and 10 charactere'|translate}}</div>

  </div>

  <div class="form-group col-md-6">
    <label for="facilityType">{{ "facilityType" | translate }}</label>
    <input  (blur)="isBlur2()"  class="form-control" name="facilityType" #facilityType="ngModel" ngModel [(ngModel)]="cost.facilityType" 
      placeholder="  {{'Write your facilityType'|translate}}" />
     <div style="border: 1px solid red; color : red;" *ngIf="minIfacilityType">{{'farmType must be between 1 and 10 charactere'|translate}}</div>

  </div>
  <div class="form-group col-md-6">
    <label for="divisionspeciestype">{{ "divisionspeciestype" | translate }}</label>
    <input (blur)="isBlur3()" class="form-control" name="speciesType" #speciesType="ngModel" ngModel [(ngModel)]="cost.speciesType" 
     placeholder=" {{'Write your division species Type'|translate}}" />
     <div style="border: 1px solid red; color : red;" *ngIf="minIspeciesType">{{'species type must be between 1 and 10 charactere'|translate}}</div>

  </div> -->
  <div class="form-group col-md-6">
    <label class="required" for="division_Code">{{ "divisionCode" | translate }}</label>
    <!-- <input (blur)="isBlurSTisvali()" type="number" class="form-control" name="codeCity" formControlName="codeCity" [(ngModel)]="growout.codeCity" placeholder=" write your City code"
      aria-describedby="code-error" required aria-invalid="true" (ngModelChange)="geValues($event)"> -->
      <select (blur)="isBlur5();geValues($event)" (click)="selectVAlue($event)" (ngModelChange)="geValues($event)" type="number" class="form-control" name="division_Code"  [(ngModel)]="cost.division_Code" placeholder=" write your City code">
        <option *ngFor="let dv of divisions" [value]="dv.code" > {{dv.code}}</option>
      </select>
      <!-- //<div style="color: red;" *ngIf="STisvali" >{{'code must be between 5 and 10 numbres'|translate}}</div> -->
      <div style="color: red;" *ngIf="divisinv">{{'you must chose'|translate}}</div>

    </div>

  <div class="form-group col-md-6">
    <label class="required" for="division_Name">{{"divisionName" | translate }}</label>
    <select (blur)="isBlur5();geValues($event)" (click)="selectVAlue2($event)" (ngModelChange)="geValues($event)" type="text" class="form-control"name="division_Name"   [(ngModel)]="cost.division_Name" placeholder=" write your City code">
      <option *ngFor="let dv of divisions" [value]="dv.name" > {{dv.name}}</option>
    </select>
    <!-- <input    class="form-control" name="division_Name"
    [(ngModel)]="cost.division_Name" placeholder=" {{'Write your Division name'|translate}}"
      aria-describedby="code-error" required aria-invalid="true"  /> -->
      <!-- <div style="color: red;" *ngIf="Misvalid" >{{'the name must be between 3 and 8 characters'|translate}} </div> -->

    </div>
    <div class="form-group col-md-6">
      <label class="required" for="facilityType">{{ "facilityType" | translate }}</label>
      
       <!-- <div style="border: 1px solid red; color : red;" *ngIf="minIfacilityType">{{'farmType must be between 1 and 10 charactere'|translate}}</div> -->
       <select  (blur)="isBlur2();geValues($event) "  class="form-control" name="facilityType" #facilityType="ngModel" (ngModelChange)="geValues($event)" ngModel [(ngModel)]="cost.facilityType">
        <option value="Hatchery" >Hatchery</option>
        <option value="Feed mill" >Feed mill</option>
        <option value="Warehouse" >Warehouse</option>
        <option value="Plant" >Plant</option>
        <option value="Logistics" >Logistics</option>
        <option value="Farm" > Farm</option>

      </select>
    </div>
    <div class="form-group col-md-6" *ngIf="affichetype==true">
      <label class="required" for="divisionspeciestype">{{ "divisiontype" | translate }}</label>: {{cost.speciesType}}
      
       <!-- <div style="border: 1px solid red; color : red;" *ngIf="minIspeciesType">{{'species type must be between 1 and 10 charactere'|translate}}</div> -->
  
    </div>
    <div class="form-group col-md-6" *ngIf="affichetype==true">
      <label  for="farmType">{{ "Farmtype" | translate }} </label> :{{cost.farmType}}
    
    
    </div>
</div>