<div class="row">
  <div class="form-group col-md-6">
    <label class="required" for="division_Code">{{
      "divisionCode" | translate
    }}</label>
    <select
      (blur)="isBlur5(); geValues($event); setvalue()"
      (click)="selectVAlue($event)"
      (ngModelChange)="geValues($event)"
      type="number"
      class="form-control"
      name="division_Code"
      [(ngModel)]="cost.division_Code"
      placeholder=" write your City code"
    >
      <option
        *ngFor="let dv of divisions"
        [value]="dv.code"
        (blur)="setvalue()"
      >
        {{ dv.code }}
      </option>
    </select>
    <div style="color: red" *ngIf="divisinv">
      {{ "you must chose" | translate }}
    </div>
  </div>

  <div class="form-group col-md-6">
    <label class="required" for="division_Name">{{
      "divisionName" | translate
    }}</label>
    <select
      (blur)="isBlur5(); geValues($event)"
      (click)="selectVAlue2($event)"
      (ngModelChange)="geValues($event)"
      type="text"
      class="form-control"
      name="division_Name"
      [(ngModel)]="cost.division_Name"
      placeholder=" write your City code"
    >
      <option *ngFor="let dv of divisions" [value]="dv.name">
        {{ dv.name }}
      </option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label class="required" for="facilityType">{{
      "facilityType" | translate
    }}</label>

    <select
      (blur)="isBlur2(); geValues($event)"
      class="form-control"
      name="facilityType"
      #facilityType="ngModel"
      (ngModelChange)="geValues($event)"
      ngModel
      [(ngModel)]="cost.facilityType"
    >
      <option value="Hatchery" (blur)="geValues($event)">
        {{ "Hatchery" | translate }}
      </option>
      <option value="Feed mill" (blur)="geValues($event)">
        {{ "Feed mill" | translate }}
      </option>
      <option value="Warehouse" (blur)="geValues($event)">
        {{ "Warehouse" | translate }}
      </option>
      <option value="Plant" (blur)="geValues($event)">
        {{ "Plant" | translate }}
      </option>
      <option value="Logistics" (blur)="geValues($event)">
        {{ "Logistics" | translate }}
      </option>
      <option value="Farm" (blur)="geValues($event)">
        {{ "Farm" | translate }}
      </option>
    </select>
  </div>
  <div class="form-group col-md-6" *ngIf="affiche == true">
    <label class="required" for="divisiondivisiontype"
      >{{ "divisiontype" | translate }}
    </label>
    : {{ cost.divisiontype }}
  </div>
  <div class="form-group col-md-6" *ngIf="affichetype == true">
    <label for="farmType">{{ "Farmtype" | translate }} </label> :{{
      cost.farmType
    }}
  </div>
</div>
