<div class="row">
  <div class="form-group col-md-6">
    <label for="shippingAddress">{{'Address' | translate}}</label>
    <input class="form-control" name="shippingAddress" #shippingAddress="ngModel" ngModel [(ngModel)]="fournisseur.shippingAddress"
    placeholder="{{'write your shipping Address'|translate}} ">
  </div>

  <div class="form-group col-md-6">
    <label for="shippingCity">{{'City' | translate}}</label>
    <input class="form-control" name="shippingCity" #shippingCity="ngModel" ngModel [(ngModel)]="fournisseur.shippingCity"
    placeholder="{{'write your shipping City'|translate}} ">
  </div>
</div>
 